{% extends 'default.html' %}

{% block title %}
     Новости
{% endblock title %}
 

{% block content %}
<h1>Новостная лента</h1>
<h3>{{ time_now }}</h3>
<hr>
{% if post %}
    <h2>Количество новостей: {{ post|length }}</h2>
<table width = "100%"
       style="margin-top: 35px">
    <tr>

        <td><u> Категория </u></td>
        <td><u> Заголовок </u></td>
        <td><u> Дата создания </u></td>
        <td><u> Текст </u></td>

    </tr>

    {% for post in post %}

    <tr>
        <td>{{ post.categoryType}}</td>
        <td>{{ post.title}}</td>
        <td>{{ post.dateCreation|date:'d M Y' }}</td>
        <td>{{ post.text |truncatewords:20 }}</td>
        {% for cat in post.category.all %}
        <td> cat.name </td>
        {% endfor %}
    </tr>
    {% endfor %}

       </table>
{% else %}
       <h2>Новостей нет!</h2>
{% endif %}
{% endblock content %}
